

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

html, body {
	height:100%;
	font-family: 'Noto Sans', sans-serif;
	box-sizing: border-box;
	width: 100%;

}

.container {
    width: 100%; 
    height: 100%; 
    left: 0px; 
    top: 0px; 
    z-index: 0;
    display:flex;
   // flex: 50%;

}

header {
	width: 100%;
	overflow: hidden;
	background: rgb(91,26,26);
	
}

.logo {
	height: 75%;
	width: 50%;
	padding:40px 0px 30px 60px;
}

.banner {
	height:100%;
	width: 100%;
	padding: 30px 30px 30px 10px;
	margin-left: 10em;

}

.navBar  {
	display: flex;
	justify-content: space-between;
	//align-items: flex-start;
	background: black;
	width: 100%;
	padding-right: 50px;
	flex: 1;
}


nav ul {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	//float: right;
}

nav li {
	display: flex;
	margin-left: 50px;
	padding-top: 20px;
	padding-bottom: 20px;
}

nav a {
	display: flex;
	align-items: center;
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 18px;

}
 nav a:hover {
 	color: blue;
}

.date {
	display: flex;
	justify-content: flex-end;
	padding-right: 30px;
	color: gray;
}


.container1, .container2, .container3 {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	
}

.container1, .container2, .container3 > div {
	flex: 1;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 6em;
	height: 2%;
	padding: 2em 2em 2em 0em;



}

.container3 {
	flex-wrap: wrap;
	flex: 1 1 150px;
}

.article1, .article2, .article3, .article4, > img {
	display:flex;
	justify-content: row;
	width: 25%;
	height: auto;
}

.article11 {
	width: 100px !important;
	height: 50% !important;
}

.article12 .article13 {
	justify-content: center;
	flex-wrap: wrap;
}



.topnews, .popular {
	margin: auto;
	border: 1px solid rgb(196,196,196);
	background: rgb(196,196,196);
	width: 90%;
	height: 4em;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 1em;
	line-height: 2em;
	font-weight: bold;

}

.text1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;	

}    

.article4, .article8 {
	display:none;
}















